[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyteal = "==0.9.1"
py-algorand-sdk = "==1.8.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "bash -c './sandbox up nightly -v'"
stop = "bash -c './sandbox down'"
